---
import Layout from "../layouts/Layout.astro";
const pageTitle = "Julio Agustín Barrios";
---

<Layout pageTitle={pageTitle}>
    <div class="gif">
        <img width="300" height="350" alt="falloutGif" src="/fallout.gif" />
    </div>
    <br><br>
    <h1 style="margin-bottom: 20px">Julio Agustín Barrios</h1>
    <small>Software Engineer</small>
    <br><br>
    <hr>
    <h2 style="margin-top: 20px">Acerca de mi</h2>
    <p>
        Desde mis primeros pasos, la pasión por la tecnología ha sido mi
        brújula. Con más de 2 años inmerso en la industria IT, he recorrido un
        camino que me ha permitido explorar una amplia gama de tecnologías y
        descubrir la esencia vital de las habilidades blandas en este entorno en
        constante evolución. Mi misión ha sido clara: fusionar mis habilidades
        técnicas con destrezas interpersonales, llevándolas al máximo potencial.
    </p>
    <p>
        Tuve la oportunidad de trabajar en diversos proyectos, abarcando
        backend, frontend y blockchain. Siendo estos últimos dos mi principal
        fuente de experiencia y dominio. Mis habilidades me llevaron incluso a
        tomar el rol de profesor, compartiendo conocimientos sobre el
        vertiginoso ecosistema blockchain, que es para mí más que un área de
        expertise.
    </p>
    <p>
        Mi recorrido en la industria me inspiró a dar el salto y aplicar lo
        aprendido. Así nació mi ambicioso proyecto paralelo <a
            href="https://www.keravnos.co/"
            target="_blank"
            style="text-decoration: none;"><b style="color: #BF934F">Keravnos</b></a
        >: una agencia de software en sus primeros pasos. Cada día es un nuevo
        aprendizaje, cada desafío una oportunidad de crecimiento. A través de
        este proyecto, aplico mis conocimientos y sigo adquiriendo nuevas
        habilidades mientras navego por las complejidades y las alegrías de la
        creación empresarial.
    </p>
    <div class="button">
        <a href="/projects/">
            <button>Portafolio</button>
        </a>
        <a href="/Software Engineer Julio Barrios.pdf">
            <button>Descargar CV</button>
        </a>
    </div>
    <h2>Skills</h2>
    <div class="link-images">
        <img
            width="46"
            height="46"
            alt="Solidity"
            src="/solidity-svgrepo-com.svg"
        />
        <img
            width="46"
            height="46"
            alt="Nextjs"
            src="/nextjs-svgrepo-com.svg"
        />
        <img
            width="46"
            height="46"
            alt="TypeScript"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="Angular"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="TailwindCSS"
            src="/tailwind-svgrepo-com.svg"
        />
        <img
            width="46"
            height="46"
            alt="CSS"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="HTML"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="JavaScript"
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg"
        />
        <img
            width="46"
            height="46"
            alt="Python"
            src="/python-svgrepo-com.svg"
        />
    </div>
    <h2>Experiencia</h2>
    <ul>
        <li>
            <h3><b>Freelance, Jr Developer</b></h3>
            <small>Jul 2021 - Ene 2022</small>
            <h4>
                Desarrollé bots de trading algorítmico con Python y participé en
                proyectos blockchain con un enfoque en Smart Contracts.
            </h4>
        </li>
    </ul>
    <br />
    <hr>
    <ul>
        <li>
            <h3><b>Shokworks, Blockchain Backend</b></h3>
            <small>Feb 2022 - Jun 2022</small>
            <h4>
                Contribuí al desarrollo de Smart Contracts para colecciones de
                NFT (ERC721) y establecí conexiones cruciales entre el frontend
                y los Smart Contracts.
            </h4>
        </li>
    </ul>
    <br />
    <hr>
    <ul>
        <li>
            <h3><b>EducaciónIT, Profesor Blockchain</b></h3>
            <small>Ene 2023 - Feb 2023</small>
            <h4>
                Profesor a cargo de dictar el curso Blockchain Ethereum
                Solidity.
            </h4>
        </li>
    </ul>
    <br />
    <hr>
    <ul>
        <li>
            <h3><b>It-techgroup, Blockchain & Web Developer</b></h3>
            <small>Jul 2022 - Presente</small>
            <h4>
                Gestioné equipos técnicos, actué como enlace entre técnicos,
                clientes y directores. Además, desarrollé y desplegué Smart
                Contracts, y creé páginas web usando herramientas full code y
                low code.
            </h4>
        </li>
    </ul>
</Layout>
<style>
    /* small */
    small {
        background-color: #584966;
        color: #fdebf3;
        border-radius: 6px;
        font-family: "Josefin Sans", sans-serif;
        font-weight: 600;
        padding: 0.3em 0.6em 0.2em;
    }

    /* Button */
    button {
        margin-top: 2%;
        margin-bottom: 2%;
        background: rgba(0, 0, 0, 0);
        border: 2px solid #69CC4C;
        border-radius: 8px;
        color: #69CC4C;
        font: 600 12px 'Press Start 2P', cursive;
        padding: 8px 16px;
        transition: background-color 0.4s, color 0.4s;
    }

    button:hover {
        background-color: #69CC4C;
        color: #fdebf3;
        cursor: pointer;
    }

    .button {
        text-align: center;
    }

    /* Skill images */
    .link-images img {
        margin: 16px 4px;
    }

    @media only screen and (max-width: 600px) {
        .link-images img {
            height: 30px;
            width: 30px;
            margin: 16px 1px;
        }
    }
</style>
