---
import ThemeIcon from './ThemeIcon.astro';
---
<div class="nav-bar">
    <div class="title-link" style="margin-top: 15px;">
        <a href="/">JAB</a>
    </div>
    <div class="nav-links">
        <a href="/projects/">Proyectos</a>
        <!-- <a href="/posts/">Posts</a> -->
        <a href="https://github.com/JulioBarrios97" target="_blank">GitHub</a>
        <ThemeIcon />
    </div>
</div>
